---
layout: default
---

<div class="post-content">
  <!-- 左侧目录 -->
  <aside class="sidebar">
    <div class="toc-container">
      <h2>目录</h2>
      <div class="toc">
        {{ content | toc_only }}
      </div>
    </div>
  </aside>

  <h1>
    {{ page.title }}
  </h1>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
    
  {% endif %}
  <article>
    {{ content }}
  </article>
  <a href="https://info.flagcounter.com/gnIQ"><img src="https://s05.flagcounter.com/count2/gnIQ/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_12/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
  {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.10.1/tocbot.min.js"></script>
<script>
  tocbot.init({
    tocSelector: '.toc',
    contentSelector: '.main-content article',
    headingSelector: 'h2, h3, h4',
    scrollSmooth: true,
    scrollSmoothOffset: -10
  });
</script>
